/*
===========
  GENERAL
===========
*/
/*Font size (change the percentage to change the font size of the work)*/
#workskin, .userstuff {
  font-size: 110%;
}

/*title font*/
h4 {
  font-size: 1.2em;
}

/*brings back the full width after reducing it on desktop*/
div#inner, #workskin,
.collection blockquote.userstuff,
.blurb .userstuff,
.news .userstuff,
.system .userstuff {
  width: 100% !important;
}

/*footer modules behave*/
#footer .module {
  max-width: 40%;
  margin: auto;
}

#footer .heading {
  overflow-wrap: break-word;
}

/*general fixes*/
.filters dt, .javascript {
  background-color: transparent;
}

#ui-datepicker-div {
  top: 522px !important;
}

/*
========
 Header
========
*/
/*font size of the header*/
#header {
  font-size: 110%;
}

/*search bar on its own line*/
#header .search {
  display: block;
}

/*positioning header elements*/
#header .heading,
#login,
#greeting,
#header .primary {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
  float: none;
}

#login, #greeting {
  padding: 0;
}

#header .dropdown .menu a, #header .dropdown .menu .current {
  white-space: nowrap;
}

#header .user {
  float: none;
  text-align: center;
}

#header .menu,
#small_login,
#header .dropdown:hover .current + .menu,
#header .menu,
#small_login,
#header .dropdown:hover .current + .menu {
  width: auto;
}

/*rearranges the menu that gets out of screen*/
.primary li:nth-of-type(4) .menu {
  margin-left: -110px;
}

/*end of header*/
/* 
========
  News
========
*/
.home .header .userstuff,
.home .header dl.stats,
.home .header .type {
  margin-left: auto;
}

.home .header h2 {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  text-align: center;
  word-break: break-word;
}

.home .header ul.actions,
ul.actions,
p.actions,
li.actions,
span.actions,
fieldset.actions,
dd.actions {
  float: none;
}

.news h4.landmark {
  display: none;
}

/*  Centers Usernames and titles in admin pages and collections  */
.user h2.heading,
.admin h2.heading,
.collection h2.heading {
  margin: 10px auto;
  text-align: center;
}

div.preface {
  margin: 1.5em;
}

/* 
=========
Dashboard
=========
*/
#dashboard,
#dashboard.own {
  border-bottom: 0px;
  border-top: 0px;
  border: 0px;
}

/* 
=========
  Blurb
=========
*/
.blurb .header .heading {
  margin: 0.375em 0.375em;
  overflow-wrap: break-word;
}

.blurb .datetime {
  position: initial;
  text-align: center;
  margin-top: 5px;
}

a.tag {
  word-break: break-word;
}

/*damned long long long usernames in blurbs*/
.blurb h4.heading a {
  word-break: break-word;
}

/* the following lines of codes rearrange the required tags icons*/
.blurb h4.heading, .blurb .header .heading {
  margin: 0;
}

.blurb ul.required-tags {
  position: initial;
  top: initial;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: auto;
}

.blurb ul.required-tags li + li + li,
.blurb ul.required-tags li + li + li + li {
  position: initial;
  left: initial;
}

.blurb ul.required-tags li {
  display: inline-flex;
}

.bookmark p.status {
  position: relative;
  right: initial;
  z-index: initial;
  display: inline-block;
  width: 100%;
  margin: auto;
  text-align: center;
}

.bookmark .status span, .bookmark .status a {
  display: inline-block;
}

.bookmark span.count {
  line-height: initial;
  position: initial;
  top: initial;
  left: initial;
  text-align: center;
}

.bookmark .status a:focus {
  overflow: initial;
}

.bookmark .status .count {
  background: none;
}

.blurb .header h5.fandoms {
  margin: 0px;
}

.blurb .header p.notice,
.blurb ul.series {
  margin: 10px 0;
}

.blurb .tags li {
  padding-left: 0;
  padding-right: 0;
}

/*this ends the blurb icon rearranging*/
/*
=============
 wrangulator
=============
*/
.assigned.module th[scope=col],
thead th[scope=col] {
  max-width: 18px;
  overflow: hidden;
}

#wrangulator table {
  font-size: 80%;
}

#wrangulator ul.actions li a, #wrangulator ul.actions li label {
  font-size: 70% !important;
}

tr, th, td, thead, tfoot {
  vertical-align: top;
}

#wrangulator tbody tr th {
  word-break: break-word;
}

#wrangulator tbody a.tag {
  margin: initial;
  padding: initial;
  background: initial !important;
}

/*end wrangling stuff*/
/* mostly for stuff in the guidelines . lowers the indent*/
.faq .userstuff .notice,
.faq .userstuff .caution,
.faq .example,
.guideline .userstuff .notice,
.guideline .userstuff .caution,
.guideline .example {
  margin: 0;
}

/* for buttons that have too long text*/
li.showme a.actions,
dl.stats dd,
.actions a,
.actions a:link,
.actions a:visited,
.action,
.action:link,
.action:visited {
  white-space: normal;
  height: initial;
}

/*
===========
 Work Page
===========
*/
/*Kudos*/
p.kudos {
  background: none;
  padding: 0;
  min-height: 0;
  word-break: break-word;
}

p.kudos::before {
  content: "Kudos:";
}

/*  reduces the indent in the blockquotes and the author's note  */
div.preface,
.preface.group blockquote.userstuff {
  margin: 0;
}

.chapter .secondary,
.download .secondary {
  /*
  This moves the download option and the chapter option
  in a better position
  */
  top: initial;
  right: 0;
  margin: 10px;
}

.skins .header .heading,
.user.pseud.picture.blurb .header .heading {
  margin: 0.375em 0.375em;
}

.userstuff dd {
  /*less indent*/
  margin-inline-start: 1em;
}

.blurb dl.tags dd,
dl.meta dd {
  margin-left: 0;
}

.meta dd {
  margin: 0.643em 0;
}

/*
=========
  Icons
=========
*/
/* centers the icons on profile pages, collections and news posts */
.user .primary p.icon,
.admin .primary .icon,
.collection .icon {
  position: initial;
  margin: 10px auto;
}

.primary .icon {
  position: relative;
}

input#site_search {
  width: auto;
}

/* 
==========
 Comments
==========
*/
.comment blockquote.userstuff p {
  width: 95%;
  margin-left: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-block: 0;
}

/*other measurements to anon comments icons*/
.comment .icon .visitor {
  background: url(/images/imageset.png) no-repeat 0 -525px transparent;
}

/*too long usernames*/
.comment h4.byline {
  overflow-wrap: break-word;
}
